In [118]:
import pandas as pd
import numpy as np
from itertools import permutations

# My Misc Setup

In [127]:
perm1 = list(permutations([1, 2, 3])) 
perm2 = list(permutations([4, 5, 6])) 
perm3 = list(permutations([7, 8, 9])) 

perm = perm1 + perm2 + perm3

def convert_to_str(x):
    return str(x)
perm = [list(o) for o in perm]
perm = list(map(convert_to_str, perm))

df = pd.DataFrame(perm, columns=["list_of_ids"])

# Exercises

1. Given the dataframe here, convert the column of string representations of lists into integers. ie. notice that running `type(df.iloc[0]['list_of_ids'])` returns `str`. We want this to return `int` for the whole column - it should be the same for `type(df.iloc[1]['list_of_ids'])`, `type(df.iloc[2]['list_of_ids'])`...etc

In [120]:
type(df.iloc[0]['list_of_ids'])

str

In [128]:
def convert_str_2_list(string):
    return eval(string)

df['list_of_ids'] = df['list_of_ids'].apply(convert_str_2_list)

In [129]:
type(df.iloc[0]['list_of_ids'][0])

int

2. Now, sort the lists inside each cell in the column. For example, instead of:

```
0    [1, 2, 3]
1    [1, 3, 2]
2    [2, 1, 3]
Name: list_of_ids, dtype: object
```

we want:
```
0    [1, 2, 3]
1    [1, 2, 3]
2    [1, 2, 3]
Name: list_of_ids, dtype: object
```

3. Remove duplicate rows (ie. we want to remove all `list_of_ids` that are `[1, 2, 3]`. Instead of:
```
 	list_of_ids
0 	[1, 2, 3]
1 	[1, 3, 2]
2 	[2, 1, 3]
3 	[2, 3, 1]
4 	[3, 1, 2]
5 	[3, 2, 1]
6 	[4, 5, 6]
7 	[4, 6, 5]
8 	[5, 4, 6]
9 	[5, 6, 4]
10 	[6, 4, 5]
11 	[6, 5, 4]
12 	[7, 8, 9]
13 	[7, 9, 8]
14 	[8, 7, 9]
15 	[8, 9, 7]
16 	[9, 7, 8]
17 	[9, 8, 7]
```

we want something like:
```
0     [1, 2, 3]
6     [4, 5, 6]
12    [7, 8, 9]
Name: list_of_ids, dtype: object
```

4. Create columns called `random_values_A` and `random_values_B` which are filled with numbers drawn from the standard normal distribution
```
	list_of_ids 	random_values_A 	random_values_B
    0 	[1, 2, 3] 	-1.269272 	          -0.339632
    1 	[1, 3, 2] 	-0.668267 	          0.969351
    2 	[2, 1, 3] 	-0.806078 	          0.509190
    3 	[2, 3, 1] 	0.544704 	          0.592973
    4 	[3, 1, 2] 	-1.713542 	          -0.775726
```

5. Add the column `random_values_A` to `random_values_B` and save it to a new column called `A_plus_B`. Example:
```
 	list_of_ids 	random_values_A 	random_values_B 	A_plus_B
        [1, 2, 3] 	0.459928 	           1.386428 	    1.846356
        [1, 3, 2] 	1.371446 	           -0.108918 	    1.262528
        [2, 1, 3] 	-0.886730 	           -1.389015 	    -2.275745
        [2, 3, 1] 	-0.175531 	           -1.006246 	    -1.181778
        [3, 1, 2] 	1.131861 	           0.679168 	    1.811029
```

6. Select and print all rows whose `random_values_A` that are negative
```
	list_of_ids 	random_values_A 	random_values_B
    0 	[1, 2, 3] 	  -1.269272     	-0.339632
    1 	[1, 3, 2] 	  -0.668267     	0.969351
    2 	[2, 1, 3] 	  -0.806078     	0.509190
    4 	[3, 1, 2] 	  -1.713542     	-0.775726
    5 	[3, 2, 1] 	  -1.291576     	-1.542622
    6 	[4, 5, 6] 	  -0.996879     	-0.427926
    7 	[4, 6, 5] 	  -0.234360     	-1.131063
    9 	[5, 6, 4] 	  -0.641435     	-1.770448
    11 	[6, 5, 4] 	  -0.007999     	-0.622751
    12 	[7, 8, 9] 	  -0.375499     	1.556395
```